@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/*font-family: 'Ubuntu', sans-serif;*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);
/*font-family: 'Ubuntu Condensed', sans-serif;*/
*{
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

html{
	color: #000000;
	background-color: #EFEFEF;
	font: normal 12px "Lucida Grande", Verdana, Georgia, Sans-Serif;
}


/* Links */
a { text-decoration: none;}
a:link { color: #48546f; }
a:visited { color: #626b7d; }
a:hover, a:active { color: #000000; border-bottom: 1px solid #6699FF; }

/* Headings */

h1, h2, h3, h4, h5, h6 {
    color: #0A0C10;
    font-weight: normal;
    font-family: 'Ubuntu', sans-serif;
    padding: 6px 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: normal;
}

/*h1 { font-size: 28px; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
h4, h5, h6 { font-size: 18px; }*/
ul, ol{
    padding: 5px 22px;
}

table{
	width: 95%;
	color: #555555;
	margin: 10px 10px 20px;
	border-left: 1px solid #bbbbbb;
	border-top: 1px solid #bbbbbb;
}
table caption{
	margin: 10px 0 5px;
	font-weight: bold;
}
th, td{
	border-right: 1px solid #bbbbbb;
	border-bottom: 1px solid #bbbbbb;
	padding: 2px 10px;
}

th { background-color: #cfcccf; }

tr td { background-color: #f3f3f3; }
tr.alt td { background-color: #dfdfdf; }
abbr, acronym, cite { cursor: help; border-bottom: 1px dotted #444444; }

.code{
    display: block;
    font-family: Consolas, "Courier New", Courier, monospace;
    color: #211132;
    padding: 4px;
    background-color: #F5F5F5;
    border: 1px solid #9999CC;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 0 0 3px rgba(92, 134, 168, 0.65);
    line-height: 13px;
}
.code a{border-bottom: 1px dotted #444444;}

.commentos{
    color: #356635;
    font-family: Verdana, Arial;
    font-size: 11px;
}



/* Structure */
#Qm_wrapper{
	width: 960px;
	margin: 0 auto;
    box-shadow: 0 0 10px #333333;
}

#Qm_header{
	min-height: 80px;
	background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #638DAF), color-stop(1, #264E73));
	background-image: -ms-linear-gradient(top, #638DAF, #264E73);
	background-image: -o-linear-gradient(top, #638DAF, #264E73);
	background-image: -moz-linear-gradient(top, #638DAF, #264E73);
	background-image: -webkit-linear-gradient(top, #638DAF, #264E73);
	background-image: linear-gradient(to bottom, #638DAF, #264E73);
}
#Qm_header .title{
    display: block;
    height:  50px;
    padding: 0 15px;
}

#Qm_header h1, #Qm_header h1 a, #Qm_header h2, #Qm_header p{
    padding: 0;
    color: #ECEFF3;
    margin: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

#Qm_content_wrapper{
background-color: #FFF;
min-height: 500px;
padding: 0 0 10px 10px;
}
#Qm_content{
    padding-top: 10px;
    background-color: #FFF;
    width: 68%;
    float: left;
}

#Qm_content p{
    margin: 5px;
    text-indent: 10px;
    line-height: 15px;
}


#Qm_sidebar{
    background-color: #E0E0E0;
    width: 30%;
    float: right;
    min-height: 500px;
    box-shadow: -1px 1px 2px rgba(17, 17, 34, 0.45);
    border-bottom-left-radius: 45px;
    padding: 10px;
}


.sidebartitle{
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #434343), color-stop(1, #252525));
    background-image: -ms-linear-gradient(top, #434343, #252525);
    background-image: -o-linear-gradient(top, #434343, #252525);
    background-image: -moz-linear-gradient(top, #434343, #252525);
    background-image: -webkit-linear-gradient(top, #434343, #252525);
    background-image: linear-gradient(to bottom, #434343, #252525);
    border-radius: 0 14px 14px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    color: #FFFFFF;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 17px;
    margin: 5px 0 5px -10px;
    width: 120%;
    padding: 5px 0 7px 25px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 3px rgba(18, 36, 54, 0.35);
    text-transform: uppercase;
}
.suer{
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #306493), color-stop(1, #2C5983));
    background-image: -ms-linear-gradient(top, #306493, #2C5983);
    background-image: -o-linear-gradient(top, #306493, #2C5983);
    background-image: -moz-linear-gradient(top, #306493, #2C5983);
    background-image: -webkit-linear-gradient(top, #306493, #2C5983);
    background-image: linear-gradient(to bottom, #306493, #2C5983);
    width: 95px;
}
.sidebartitle a{
color: #FFFFFF;
text-decoration: none;
border: none;
}
.sidebartitle a:hover{
color: #E0E0FF;
}

.btn_black a{
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #434343), color-stop(1, #252525));
    background-image: -ms-linear-gradient(top, #434343, #252525);
    background-image: -o-linear-gradient(top, #434343, #252525);
    background-image: -moz-linear-gradient(top, #434343, #252525);
    background-image: -webkit-linear-gradient(top, #434343, #252525);
    background-image: linear-gradient(to bottom, #434343, #252525);
    border-radius:14px;
    border: none;
    color: #FFFFFF;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 17px;
    font-weight: normal;
    padding: 5px 25px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 3px rgba(18, 36, 54, 0.35);
}
.btn_black a:hover{
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #121212), color-stop(1, #252525));
    background-image: -moz-linear-gradient(top, #16162C, #252525);
    background-image: linear-gradient(top, #121212, #252525);
}

.btn_blue a{
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #306493), color-stop(1, #2C5983));
    background-image: -ms-linear-gradient(top, #306493, #2C5983);
    background-image: -o-linear-gradient(top, #306493, #2C5983);
    background-image: -moz-linear-gradient(top, #306493, #2C5983);
    background-image: -webkit-linear-gradient(top, #306493, #2C5983);
    background-image: linear-gradient(to bottom, #306493, #2C5983);
    border-radius:14px;
    color: #FFFFFF;
    text-decoration: none;
    border: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 17px;
    font-weight: normal;
    padding: 5px 25px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 3px rgba(18, 36, 54, 0.35);
}
.btn_blue a:hover{
    background-image: -webkit-linear-gradient(top, #2C5983, #306493);
    background-image: -webkit-gradient(linear, top, bottom, color-stop(0, #2C5983), color-stop(1, #306493));
    background-image: -moz-linear-gradient(top, #2C5983, #306493);
    background-image: linear-gradient(top, #2C5983, #306493);
}


#Qm_footer{
	clear: both;
	color: #999999;
	text-align: center; 
    box-shadow: 0px -1px 2px rgba(17, 17, 34, 0.45);
}

/* Header */


/* Navigation */
.navigation{
    font-family: 'Ubuntu', sans-serif;
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 10px;
    text-align: right;
}
.navigation ul {}
.navigation li { list-style: none; display: inline-block;}
.navigation ul li a{
    color: #FFFFFF;
	padding: 5px 25px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.navigation a:hover, .navigation li.active a{
    /*padding: 5px 25px;*/
    background: #214363;
    box-shadow: 0 -1px 1px #122436;
    border-radius: 15px;
    border-bottom: none;
}


/* Footer */
#Qm_footer{
    font-size: 10px;
    padding: 15px 0;
}
#footer a:link, #footer a:visited { color: #999999; border-bottom-color: #999999; }
#footer a:hover, #footer a:active { color: #bbbbbb; border-bottom-color: #bbbbbb; }

/* Forms */
.former input[type="text"]{
    padding: 4px 5px;
    color: #050f18;
    width: 450px;
}
.former input[type="submit"]{}
.former select{
    padding: 4px 5px;
    color: #050f18;
    width: 200px;
}
.former textarea{}



/*  Content Formated 
.file-structure, .file-structure ul{
    list-style: none;
}
.file-structure .name {
    color: #555555;
    float: left;
    padding-left: 6px;
    width: 140px;
}
.file-structure ul .name{
    width: 120px;
}
.file-structure .description {
    color: #888888;
    margin-left: 150px;
    min-height: 20px;
}
.file-structure ul .description{
    margin-left: 130px;
}
 */













/* GENERATOR */
.form-gener{
    margin: 15px 0;
    padding: 5px;
    background: #E0E0E0;
    border-radius: 20px;
    box-shadow: 0 0px 2px #122436;
}
.form-gener lable{
    font-weight: bold;
}
.form-gener input[type='text'], .form-gener select, .form-gener input[type='submit']{
    padding: 5px;
    width: 250px;
    background-color: #2C5A85;

    border-top: 1px solid #080808;
    border-right: 1px solid #080808;
    border-bottom: 1px solid #122436;
    border-left: 1px solid #122436;

    color: #FFFFFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.form-gener input[type='submit']{
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #1964a0;
}


/* редактор */
#myNicPanel{
    width: 100%;
}
#myInstanceTitle, #myInstanceContent{
    background-color: #E0E0E0;
    padding: 4px;
    width: 100%;
    border: 2px dotted #FFF;
}
#myInstanceTitle:focus, #myInstanceContent:focus{
    outline: none;
    background-color: #E0E0E0;
    padding: 4px;
    width: 100%;
    border: 2px solid #050f18;
}

#textAreaContent{
    margin-top: 15px;
    padding: 4px;
    width: 100%;
    border: 1px solid #122436;
}
#textAreaContent:focus{
    outline: none;
}


/** Кнопки и другие мелкие детали */
a.btn-delete{
    color: #c12e2a;
    font-weight: bold;
}
a.btn-edit{
     color: #122436;
     font-weight: bold;
 }

#textAreaContent:focus, .nicEdit-main:focus{
    outline: hidden;
}

.former input[type='submit']{
    padding: 4px 10px;
}





